include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero
          .parallax__layer(data-speed="0.1")
            +image("baloon/1.png", "parallax__image")
          .parallax__layer(data-speed="0.13")
            +image("baloon/2.png", "parallax__image")
          .parallax__layer(data-speed="0.16")
            +image("baloon/3.png", "parallax__image")
          .parallax__layer(data-speed="0.2")
            +image("baloon/4.png", "parallax__image")
          .parallax__layer(data-speed="0.23")
            +image("baloon/5.png", "parallax__image")
          .parallax__layer(data-speed="0.25")
            +image("baloon/6.png", "parallax__image")
          .parallax__layer(data-speed="0.28")
            +image("baloon/7.png", "parallax__image")
          .container.hero__container
            header.hero__header
              .hero__logo
                .logo BA
              .hero__menu
                nav.nav
                  - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                  ul.nav__list
                    each item in menu
                      li.nav__item
                        a(href="").nav__link #{item}
              .hero__links
                - var icons = ["insta", "vk", "github"]
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").socials__link
                        +icon(`${item}`, 'socials__icon')

            .hero__content
              .user-info
                h1.user-info__desc Личный сайт веб-разработчика
                .user-info__username Владимир
                .user-info__username Астаханов

            .hero__btns
              .scroll-down-btns Скролл
              +icon("scroll", "scroll__icon")

        section.about
          .container.about__container
            .about__left
              .user
                .avatar.user__avatar
                  +image("content/user.jpg", "avatar__pic")
                ul.user__desc
                  -
                    var items = [
                      ['Проживаю', 'Новосибирск'],
                      ['Возраст', '27 лет'],
                      ['Родился', '1 января 1991']
                    ]
                  each item in items
                    li.user__desc-item
                      .user__key #{item[0]}:
                      .user__value #{item[1]}
            .about__right
              h4.about__greet Привет, меня зовут
              h2.about__title Владимир Астаханов
              .about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты
              .about__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво!

      .triangles.triangles-hero
        svg.triangles__item-top.triangles__item-left(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 0,100 1000,100")
        svg.triangles__item-top.triangles__item-right(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,100 1000,100 1000,0")

      .useful
        .container.useful__container
          .useful__content
            .useful__left
              +image("bg/sack.png", "useful__sack")
            .useful__right
              .useful__title
                h2.section-title.useful__title-text Чем я могу быть полезен вам
              .useful__desc
                p 
                  | Этот сайт я сделал в рамках обучения в школе онлайн образования LoftSchool. 
                  | Чуть позже я освежу в нем свой контент. А пока посмотрите, как тут все классно и красиво
              #skills-component

      .works
        .container
          h2.section-title Мои работы
          .works__container
            .works__left
              .slider
                +image("works/work.png", "slider__fillpic")
                .slider__preview
                  ul.previews
                    - for (var i = 0; i < 4; i++)
                      li.previews__item
                        +image("previews/prev1.png", "previews__fillpic")
                .slider__buttons
                  button.slider-button__item
                    +icon("arrow-down", "slider-button__item--slide--prev")
                  button.slider-button__item
                    +icon("arrow-down", "slider-button__item--slide--next")
            .works__right
              .works__tags
                - var tags = ['HTML', 'CSS', 'Javascript']
                ul.tags
                  - for (var i = 0; i < 3; i++)
                    li.tags__item 
                      a.tags__text #{tags[i]}
              .works__text
                h3.works__title Сайт школы образования
                .works__desc-text
                  p 
                    | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool. 
                    | 2 месяца только самых тяжелых испытаний и бессонных ночей
                a.iconed-link
                  +icon("link", "iconed-link__site")
                  .iconed-link__text Посмотреть сайт

      .triangles.triangles-works
        svg.triangles__item.triangles__item-left(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="0,0 1000,0 1000,100")
        svg.triangles__item.triangles__item-right(viewBox="0 0 1000 100" preserveAspectRatio="none")
          polygon(points="1000,0 0,100 0,0")

      .budda-section
        .container
          .impressions#impressions
            .impressions__header
              h2.section-title.section-title--impression Что обо мне говорят
              .arrows
                button(class="arrows__item" @click="previous()" ref="")
                  +icon("arrow-down", "arrows__left")
                button(class="arrows__item" @click="next()")
                  +icon("arrow-down", "arrows__right")
            -var impressions = ['Ковальчук Дмитрий', 'Сабанцев Владимир']
            .impressions__slider
              flickity(ref="flickity" :options="flickityOptions").impressions__list
                - for (var i = 0; i < 6; i++)
                  .impressions__item
                    .impression
                      .impression__content
                        +icon("quote", "impression__quote")
                        .impression__text
                          p 
                          | Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool. 
                          | 2 месяца только самых тяжелых испытаний и бессонных ночей
                      .impression__author
                        +image("content/user.jpg", "impression__pic")
                        .impression__author-data
                          .impression__author-name #{impressions[i]}
                          .impression__author-position Преподаватель

        .contacts
          .container
            h2.section-title Связаться со мной
            form.form(action="")
              .form__row
                label.form__block
                  .form__title Введите ваше имя
                  .form__input-block
                    .form__input-field
                      +icon("user", "iconed-link__icon")
                      input.form__input(type="text" placeholder="Ковальчук Дмитрий")
                label.form__block
                  .form__title Введите ваш e-mail
                  .form__input-block
                    .form__input-field                
                      +icon("envelope", "iconed-link__icon")
                      input.form__input(type="text" placeholder="loftschool@study.ru")
              .form__row
                label.form__block
                  .form__title Сообщение к письму
                  .form__input-block
                    .form__input-field
                      +icon("message", "iconed-link__icon")
                      textarea.form__textarea(type="textarea" rows="2" placeholder="Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса")
              input.form__button(type="button" value="ОТПРАВИТЬ")
  
      .footer
        footer.footer__content
          .footer__col
            .footer__copyright &#169; 2019
            .footer__user
              .footer__username ВЛАДИМИР
              .footer__user-surname АСТАХАНОВ
              .footer__desc Личный сайт веб-разработчика
          .footer__info
            nav.nav
              ul.nav__list.nav__list--footer
                each item in menu
                  li.nav__item
                    a(href="").nav__link #{item}
            .footer__desc-block
              .footer__desc-col
                .footer__desc 
                    | Этот сайт я сделал в рамках обучения в
                    | школе онлайн образования Loftschool
                ul.socials
                  each item in icons
                    li.socials__item
                      a(href="").socials__link.socials__link--footer
                        +icon(`${item}`, 'socials__icon socials__icon--footer')
              .footer__desc-col
                .footer__desc 
                  | Всегда пишите код так, будто сопровождать его будет
                  | склонный к насилию психопат, который знает где вы живете

    include ./templates/entry.pug
